<nav class="navbar">

  <!-- LOGO -->
  <div class="logo" routerLink="/home">
    💪 GymGearPro
  </div>

  <!-- LINKS -->
  <div class="nav-links" [class.active]="menuOpen">

    <a routerLink="/home">Home</a>

    <a routerLink="/product">Products</a>

    <a routerLink="/cardio">Gym</a>

    <a routerLink="/gym">Training</a>

     <a routerLink="/contact">Contact</a>


  </div>

  <!-- RIGHT SIDE -->
  <div class="nav-right">

    <!-- SEARCH -->
    <div class="search-box">
      <input
        type="text"
        placeholder="Search products..."
        [(ngModel)]="searchText"
        (ngModelChange)="onSearch()"
      />
    </div>

    <!-- CART -->
    <div class="cart-btn" routerLink="/cart">

      <i class="fas fa-shopping-cart"></i>

      <span
        class="cart-badge"
        *ngIf="cartCount > 0"
      >
        {{ cartCount }}
      </span>

    </div>

    <!-- PROFILE -->
    <button
      class="profile-btn"
      (click)="openProfile()"
    >

      <ng-container *ngIf="isLoggedIn; else guest">
        👋 {{ userName }}
      </ng-container>

      <ng-template #guest>
        🔐 Login
      </ng-template>

    </button>

  </div>

  <!-- MOBILE MENU -->
  <div
    class="menu-btn"
    (click)="toggleMenu()"
  >
    ☰
  </div>

</nav>