.card {
  max-width: 100%;
}

@media (max-width: 576px) {
  .card-body {
    padding: 1.5rem !important;
  }

  h2 {
    font-size: 1.4rem;
  }
}
.password-wrapper {
  position: relative;
}

.input-eye-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1;
  user-select: none;
}
