<!-- DETAIL PRODUCT PAGE WRAPPER -->
<div class="detail-product-page">

  <!-- PRODUCT DETAILS -->
  <div class="container" *ngIf="product; else loading">

    <div class="row g-5 align-items-center">

      <!-- IMAGE -->
      <div class="col-lg-6 text-center">
        <img [src]="product?.imgsrc" class="product-main-img" />
      </div>

      <!-- INFO -->
      <div class="col-lg-6">

        <h2 class="product-brand">
          {{ product?.brand }}
        </h2>

        <p class="product-description">
          {{ product?.description }}
        </p>

        <h3 class="product-price">
          ₹ {{ product?.price }}
        </h3>

        <div class="product-meta">

          <p>
            Category: <b>{{ product?.category }}</b>
          </p>

          <p>
            Rating ⭐ : <b>{{ product?.rating }}</b>
          </p>

        </div>
        <button class="btn-add-cart w-100 mt-4" (click)="addToCart()" routerLink="/cart">
          Add To Cart
        </button>

      </div>

    </div>
  </div>

  <!-- LOADING -->
  <ng-template #loading>
    <div class="text-center mt-5">
      <h4 *ngIf="!product">Loading Product...</h4>
    </div>
  </ng-template>

</div>