.app {
  display: flex;
  min-height: 100vh;
  font-family: 'Bebas Neue', sans-serif;
}

/* MAIN CONTENT */
.main {
  flex: 1;
  margin-left: 240px;
  background: #0b1220;
  color: white;
}

/* MOBILE */
@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}