<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card bg-dark text-light shadow-lg rounded-4">
        <div class="card-body p-4">

          <h2 class="text-center fw-bold text-warning mb-4">
            Sign Up To GymGearPro 💪
          </h2>

          <form [formGroup]="signupForm" (ngSubmit)="onSignup()">

            <!-- Full Name -->
            
            <div class="mb-3">
              <label class="form-label">Full Name</label>

              <input type="text" class="form-control" placeholder="Enter your name" formControlName="name" />

              <div class="text-danger mt-1" *ngIf="signupForm.get('name')?.dirty || signupForm.get('name')?.touched">
                <span *ngIf="signupForm.get('name')?.errors?.['required']">
                  Name is required
                </span>

                <span *ngIf="signupForm.get('name')?.errors?.['pattern']">
                  Only letters are allowed
                </span>
              </div>
            </div>


            <!-- Email -->
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" placeholder="Enter your email" formControlName="email">
              <span class="text-danger" *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid">
                Enter valid email
              </span>
            </div>

            <!-- Phone -->
            <div class="mb-3">
              <label class="form-label">Phone</label>
              <input type="text" class="form-control" placeholder="10 digit number" formControlName="phone">
              <span class="text-danger" *ngIf="signupForm.get('phone')?.touched && signupForm.get('phone')?.invalid">
                Enter 10 digit phone number
              </span>
            </div>

            <!-- Password -->
            <div class="mb-3 position-relative">
              <label class="form-label">Password</label>

              <input [type]="showPassword ? 'text' : 'password'" class="form-control pe-5" placeholder="Create password"
                formControlName="password" />

              <span class="eye-icon" (click)="togglePassword()">
                {{ showPassword ? '🙈' : '👁️' }}
              </span>

              <span class="text-danger"
                *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid">
                Password must be at least 8 characters
              </span>
            </div>


            <!-- Confirm Password -->
            <div class="mb-4 position-relative">
              <label class="form-label">Confirm Password</label>

              <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control pe-5"
                placeholder="Confirm password" formControlName="confirmPassword" />

              <span class="eye-icon" (click)="toggleConfirmPassword()">
                {{ showConfirmPassword ? '🙈' : '👁️' }}
              </span>

              <span class="text-danger" *ngIf="signupForm.hasError('passwordMismatch') &&
           signupForm.get('confirmPassword')?.touched">
                Password and confirm password must match
              </span>
            </div>


            <!-- Button -->
            <button type="submit" class="btn btn-warning w-100 fw-bold" [disabled]="signupForm.invalid">
              Sign Up
            </button>

          </form>

          <p class="text-center mt-3">
            Already have an account?
            <a routerLink="/login" class="text-warning fw-semibold">Login</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>