<div class="orders-container">

  <div class="orders-content">

    <!-- all content -->
    <h2 class="title">My Orders</h2>

    <button class="back-btn" (click)="goBack()">
      ← Back to Profile
    </button>

    <div *ngIf="orders.length == 0" class="no-orders">
      <h3>No Orders Found 😕</h3>
      <p>You haven't placed any order yet</p>

      <button class="shop-btn" (click)="goToProducts()">
        🛒 Start Shopping
      </button>
    </div>

    <div *ngFor="let order of orders" class="order-card">
      <div class="order-top">
        <div>
          <p class="label">Date</p>
          <p class="price">{{order.date}}</p>
        </div>

        <div>
          <p class="label">Price</p>
          <p class="price">₹ {{order.price}}</p>
        </div>

        <div>
          <p class="label">Qty</p>
          <p class="price">{{order.quantity}}</p>
        </div>
      </div>

      <div class="order-body">
        <img [src]="order.image" class="product-img">

        <div>
          <h4>{{order.name}}</h4>
          <p>{{order.brand}}</p>
        </div>
      </div>
    </div>

  </div>

  <!-- FOOTER -->
  <footer class="footer">
    GymGear Pro © 2026
  </footer>

</div>